.card:hover {
    transform: scale(1.05); /* Cambia el tamaño de la tarjeta al 105% del tamaño original */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
}

/* Establece una transición suave para el efecto hover */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-img {
    width: 400px; /* Cambia el valor según el tamaño deseado */
    height: 400px; /* Cambia el valor según el tamaño deseado */
}

.custom-form-control {
    width: 25px;
    height: 25px;
}

.lblTotal{
    font-weight:bold;
}

.pnlEmptyCart {
    text-align: center;
    padding: 50px;
    border: 1px dashed #ccc;
    margin-top: 20px;
}

.pnlEmptyCart img {
    max-width: 100%;
    height: auto;
}

    .pnlEmptyCart h2 {
        font-size: 24px;
        color: #333;
        margin-top: 20px;
    }

    .pnlEmptyCart p {
        font-size: 18px;
        color: #777;
    }

    .pnlEmptyCart .btn {
        margin-top: 20px;
    }

